
<div class="container mt-4 py-4">
  <div class="row">
  <div class="col-4">
    <ul class="list-group" >
      <li class="list-group-item "
      (click)="seleccionar(item)"
        *ngFor="let item of  data" aria-current="true"
            [class.active]="item === categoriaElegida">Especialidad: {{item.nom_especialidad}}
        <p> Cantidad de Cursos: {{item.cant_cursos}}</p>
      </li>



    </ul>
  </div>
  <div class="col-8 border">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Duracion</th>
          <th scope="col">Tutor</th>
          <th scope="col">Valoracion</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of result"
       >
          <th>{{items.id }}</th>
          <td>{{items.nombre}}</td>
          <td>{{items.duracion}}</td>
          <td>{{items.tutor}}</td>
          <td>{{items.valoracion}}</td>
          <td>{{items.precio}} Soles</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

</div>

