
<br>
<div class="container mt-4">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Duracion</th>
      <th scope="col">Tutor</th>
       <th scope="col">Valoracion</th>
        <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <th >{{item.id}}</th>
      <td>{{item.nombre}}</td>
      <td>{{item.duracion}}</td>
      <td>{{item.tutor}}</td>
         <td>{{item.valoracion}}</td>
            <td>{{item.precio}}</td>
    </tr>
  </tbody>
</table>
</div>
