


<div id="carouselExampleControls" class="carousel slide bg-danger" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/mbanner_uno.jpg" class="d-block  "  alt="banner1" >
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/mbanner_cuatro.jpg"class="d-block" alt="banner2" >
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/mbanner_cinco.jpg" class="d-block  " alt="banner3" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container text-center my-5">

  <h2 class="fs-1">Navega por categoria</h2>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
      <img src="../../../../assets/sv1.svg" class="card-img-top"  height="170"   alt="...">
      <div class="card-body">
        <h5 class="card-title">Finanzas</h5>
        <p class="card-text">This is a longer card with suppow as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
      <img src="../../../../assets/sv2.svg" class="card-img-top"  height="170" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trabajar en equipo</h5>
        <p class="card-text">This is a longer cardng text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
      <img src="../../../../assets/sv3.svg" class="card-img-top" height="170" alt="...">
      <div class="card-body">
        <h5 class="card-title">Etica Professional</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
        <img src="../../../../assets/cu5.jpeg" class="card-img-top" alt="...">

      <div class="card-body">
        <h5 class="card-title">Javascript</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
      <img src="../../../../assets/sv4.svg" class="card-img-top" height="170" alt="...">
      <div class="card-body">
        <h5 class="card-title">Linux</h5>
        <p class="card-text">This is a longer cardpporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
      <img src="../../../../assets/cu1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bootstrap</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
      <img src="../../../../assets/cu2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Html desde CERO</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card"  style="border: solid 3px #928C6F !important;background: #EDEBA0;">
      <img src="../../../../assets/cu3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">React</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container py-5 text-center">
  <h2 class="fs-1">Cursos destacados</h2>

</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card">
      <img src="../../../../assets/vue.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vue 3</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../assets/pos.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Postam </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../assets/iot.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">IOT</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>

<!--parte de maestro detalles-->
<!-- <h2 class="text-center  mt-4">maestro detalles</h2>
<div class="container maestro-consultas my-5">
    <div class="row">
        <div class="col-9">

    <table class="table">
  <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Duracion</th>
       <th scope="col">Precio</th>
  <th scope="col">Valoracion</th>
    <th scope="col">Tutor</th>
    </tr>
  </thead>
  <tbody>

    <!---mylistitemtable-
    <tr
    *ngFor="let curso of cursos"
      (click)="getCurso(curso)"
       [class.item-active]="curso === cursoElegido">
      <th scope="row">{{curso.id}}</th>
      <td>{{curso.nombre}}</td>
      <td>{{curso.duracion}}</td>
      <td>{{curso.precio}}</td>
      <td>{{curso.valoracion}}</td>
      <td>{{curso.tutor}}</td>
    </tr>
  </tbody>
</table>

        </div>
        <div class="col-3 " *ngIf="cursoElegido">
       <div class="card" style="width: 18rem;" style="border: 2px solid greenyellow;">
  <img [src]="cursoElegido.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">   {{cursoElegido.nombre}}</h5>
    <p class="card-text">Duracion: {{cursoElegido.duracion}}</p>
        <p class="card-text">Precio: {{cursoElegido.precio}}</p>
          <p class="card-text">Profesor: {{cursoElegido.tutor}}</p>
    <a href="#" class="btn btn-primary">Ver mas</a>
  </div>
</div>


        </div>
    </div>


</div>
 -->

<div class="container py-5 my-5">
  <h4 class="py-3">Nuestras Proximos Eventos</h4>
  <ul class="list-group">
  <li class="list-group-item activado"  >30 de octubre</li>
  <li class="list-group-item activado">bootcamp 15 diciembre</li>
  <li class="list-group-item activado">Node js fest 10 Diciembre</li>
  <li class="list-group-item activado">Retos Web 15 Noviembre</li>
  <li class="list-group-item activado">Backfriday 13 noviembre</li>
</ul>
</div>
<div class="container">
  <h2 class="py-3 my-5">Lista de Nuestros Socios</h2>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Institucion</th>
      <th scope="col">Area</th>
      <th scope="col">Certificados</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Isil</td>
      <td>Ingenieria de Software</td>
      <td>No</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>San Marcos</td>
      <td>Ciencias Matematicas</td>
      <td>SI</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Universidas Cesar Vallejo</td>
      <td>Seguridad Informatica</td>
          <td>SI</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container-fluid hero-image  p-0 my-5 m-0">
  <img src="../../../../assets/mbanner_cuatro.jpg" alt="">
</div>
   <div class="container text-center">
      <h2 class="">Nuestros Comienzos </h2>
   </div>
<div class="container hero-secondary my-5">
<div class="row">
  <div class="col-6">
    <div class="">


      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores labore cumque id, laboriosam aliquid sunt quam nam quo neque, obcaecati, a doloribus necessitatibus autem harum consectetur optio consequatur eum cupiditate modi et unde illum deleniti? Cumque, optio dicta. Assumenda, iure repellat voluptates enim voluptatibus quae et esse, commodi amet corrupti voluptas. Rem, pariatur? Vel magni commodi, esse ipsum sed earum iure illo necessitatibus quae nam at distinctio soluta consequatur autem facilis porro modi.
      </p>



  </div>
</div>


</div>
  <div class="container text-center my-5">
    <h2>Nuestro Compromiso</h2>
  </div>
<div class="row">

  <div class="col"></div>
  <div class="col"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos vero iure, consequatur accusantium at quo adipisci omnis labore atque magni pariatur minima fugiat dolore maxime id sunt vitae numquam enim voluptates ea! A accusantium nisi quis iste tempore ullam eius, quisquam doloribus dolor accusamus esse adipisci corporis vero ea itaque veritatis obcaecati quibusdam, repellendus sit eligendi modi porro earum sapiente! Corporis, in maiores ea ratione a quas, provident, nostrum animi dolore porro voluptas.</p></div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col"><div class="container">
      <img src="../../../../assets/mbanner_uno.jpg" alt="" width="530" height="500">
    </div></div>
    <div class="col">
      <div class="container">
        <h2 class="py-2">Validez al 100% </h2>

     <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis inventore animi quaerat quos voluptas quasi, enim exercitationem esse nemo odio cupiditate voluptatum laudantium. Soluta dolore eveniet ullam aliquam, architecto atque itaque possimus iste, reprehenderit doloribus consequatur adipisci minima assumenda dolor perspiciatis! Id asperiores nihil ullam nesciunt dolor consequuntur officiis blanditiis amet nobis ratione. Consequuntur distinctio pariatur ullam id fuga. Repudiandae aspernatur eaque eligendi dolorem reiciendis optio hic inventore, aliquam consequatur dolor archito at aspernatur earum ducimus, consectetur, dignissimos quam? Aliquam magnam necessitatibus excepturi fuga! Molestiae dolorum harum suscipit et quasi. Laboriosam, ex, atque eveniet quidem reprehenderit veniam voluptatem odio quos ratione molestiae repellat error culpa praesentium itaque commodi.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <h4 class="py-3 my-5 mb-5 fs-2">Los mejores instructores</h4>
<div class="row">
      <div class="col-lg-4">
     <img src="https://images.unsplash.com/photo-1624981629285-d2426ae83a0e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjcxMDIyNQ&ixlib=rb-1.2.1&q=80&w=1080" alt="" class="rounded-circle" width="170" height="180">

        <h2>Juan Riquelme</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
      <p><a class="btn  btn-secondary text-dark" href="#" style="border: solid 3px #928C6F !important;background: #EDEBA0;">Ver mas »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <img src="https://images.unsplash.com/photo-1631311394618-26d3069959cc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjcxMDE2OA&ixlib=rb-1.2.1&q=80&w=1080" alt="" class="rounded-circle" width="170" height="180">
        <h2>Claudio Pizarro</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn  btn-secondary text-dark" href="#" style="border: solid 3px #928C6F !important;background: #EDEBA0;">Ver mas »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://images.unsplash.com/photo-1630361084015-9a5bf5f4950e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMjcwOTc5MA&ixlib=rb-1.2.1&q=80&w=800" alt="" class="rounded-circle" width="170" height="180">


        <h2>Santiago Insane</h2>
        <p>And lastly this, the third column of representative placeholdere placeholdere placeholdere placeholder content.</p>
          <p><a class="btn  btn-secondary text-dark" href="#" style="border: solid 3px #928C6F !important;background: #EDEBA0;">Ver mas »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
</div>






